@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #000;
  --primary: #BE968E;
  --secondary: #F5F5F5;
}

@theme inline {
  --font-sans: var(--font-poppins);

  --breakpoint-desktop: 1440px;
  --breakpoint-laptop: 1200px;
  --breakpoint-tablet: 992px;
  --breakpoint-mobile: 768px;
  --breakpoint-small: 520px;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.contain {
  padding-left: 120px !important;
  padding-right: 120px !important;
}